body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('img/page1/mamie_arc_en_ciel.jpg');
    min-height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;

  padding: 0;
  overflow: hidden;
  background-color: #444;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}